@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon/icomoon.eot');
	src:url('fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.woff') format('woff'),
		url('fonts/icomoon/icomoon.ttf') format('truetype'),
		url('fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.correct, .correct:disabled {
	background: #edf8da;
	border: 1px solid #c2d799;
	color: #5d9400;
	box-shadow: none;
}

.incorrect, .incorrect:disabled {
	background: #ffecec;
	border: 1px solid #ffa8a8;
	color: black;
	box-shadow: none;
}

.correction, .correction:disabled {
	background: #F6F6F6;
	border: 1px solid #999;
	color: #999;
	box-shadow: none;
}

.correction-text {
	color: #AAA;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 11px;
}

.duolingo-input {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #404040;
	padding: 8px 50px 8px 8px;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 3px;

	transition:border linear .2s, box-shadow linear .2s;
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#invisible {
	visibility:hidden;
}

.duolingo-input:focus {
	outline:none;
	border-color:#6cac02;
	-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(108, 172, 2, 0.6);
	-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(108, 172, 2, 0.6);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(108, 172, 2, 0.6)
}

#rightInfo {
	float: right;
	height: 200px;
	width: 240px;
}

#study-language {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	height: 10px;
	width: 100px;
	text-align: center;
	margin: 40px auto 0px auto;
}

#numberOfWords {
	text-align:center;
	width: 100px;
	height: 30px;
	font-family: 'Denk One', sans-serif;
	font-size: 36px;
	margin: 20px auto 0px auto;
}

#numberText {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-align: center;
	margin: auto;
	width: 150px;
	height: 100px;
}

#toggleBubble {
	width: 400px;
	height: 70px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin-bottom: 10px;
}

#toggleLeft {
	width: 100%;
	height: 45px;
}

#toggleRight {
	width: 100%;
	height: 20px;
	text-align: center;

	color: #444;
}

#interval-div {
	min-height: 163px;
}

#interval-title {
	color: #404040;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
}

#interval-left {
	float: left;
	width: 200px;
	margin-top: 15px;
}

#interval-current {
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	margin-left: 10px;
}

#interval-current:before {
	font-family: 'icomoon';

	width: 50px;
	content: "\2c";
	margin-right: 10px;
}

#interval-right {
	float: right;
	width: 200px;
	margin-top: 15px;
}

.interval {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 47px;
	width: 190px; 
	color: #999;
	font-size: 18px;
	vertical-align: middle;
	line-height: 42px;
}

.interval-checkbox {
	line-height: 13px;
	border-radius: 3px;
	box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset, rgb(204, 204, 204) 0px 1px 0px 0px;
	background-color: #F5F5F5;
	border: 1px solid #CCC;
	width: 39px;
	height: 25px;
	padding: 5px 0px 0px 15px;
	float: left;
	margin: 5px 15px 5px 5px;
}

.interval-checkbox:active {
	border: 1px solid #ADADAD;
	background-color: #DADADA;
	box-shadow: rgb(173, 173, 173) 0px 1px 0px 0px inset;
}

.interval-checkbox span {
	font-size: 13px;
	font-weight: 500;
	margin-right: 0px;
	color: #4B4B4B;
}

#word-type {
	background: rgba(0, 0, 0, .1);
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(231, 231, 231));
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 5px;
	width: 140px;
	margin: 7px 0px;
}

#word {
	margin: 7px 0px;
}

#toggleHintLanguage {
	border: 1px solid rgba(0, 0, 0, 0.0980392);
	border-bottom-color: rgba(0, 0, 0, 0.247059);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	cursor: pointer;
	margin: 5px 50px;
	padding: 10px;
	width: 300px;
	outline: none;
	position: relative;
	transition: all 0.35s;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;

	background: #049CDB;
	background: -webkit-linear-gradient(top, #fff, #e6e6e6 50%, #e6e6e6);
	color: black;
	text-shadow: rgba(255, 255, 255, 0.74902) 0px 1px 1px;
	border-radius: 4px;
	background-size: 100% 200%;
}

#toggleHintLanguage:hover {
	background-position: 0 -20px;
}

#toggleHintLanguage:active {
	box-shadow: inset 0px 2px 3px #432304, inset 0px 1px 0 #CB5D0B;
}

#practiceWord {
	width: 400px;
	min-height: 355px;
	background: white;
	border: 1px solid #222;
	margin: 5px 30px;
	padding: 10px 10px 10px 20px;
	border-radius: 5px;
	color: #404040;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
}

#line-separator {
	float: left;
	width:1px;
	height: 150px;
	background:#717171;
	border-right:1px solid #313030;
	margin: 25px 0px;
}

#mainPopup {
	padding: 10px;
	height: 200px;
	width: 400px;
	font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 300;
	color: #333;
	text-shadow: rgba(255, 255, 255, 0.701961) 0px 2px 0px;
	padding-left: 15px;
}

body {
	background: #FCD04B;
	background: url('img/ticks.png');
	width: 500px;
}

#loading {
	margin: 5px 30px;
	background: white;
	border: 1px solid gray;
	padding: 5px 0px 5px 190px;
}

/* General button style (reset) */
.btn {
	border: 1px solid rgba(0, 0, 0, 0.0980392);
	border-bottom-color: rgba(0, 0, 0, 0.247059);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	cursor: pointer;
	margin: 5px 30px 5px 30px;
	padding: 10px 15px 10px 45px;
	outline: none;
	position: relative;
	transition: all 0.35s;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;

	background: #049CDB;
	background: -webkit-linear-gradient(top, #049CDB, #0064CD 50%, #0064CD);
	color: white;
	text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
	border-radius: 4px;
	background-size: 100% 200%;
}

.btn:hover {
	background-position: 0 -20px;
}

.btn:active {
	top: 2px;
}


/* Pseudo elements for icons */
.btn:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;


	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 2;
	font-size: 120%;
	width: 50px;
}

.icon-book:before {
	content: "\21";
}
.icon-pencil:before {
	content: "\22";
}
.icon-box-add:before {
	content: "\23";
}
.icon-warning:before {
	content: "\24";
}
.icon-star:before {
	content: "\25";
}
.icon-bookmark:before {
	content: "\26";
}
.icon-back:before {
	content: "\29";
}
.icon-home:before {
	content: "\2a";
}
.icon-signup:before {
	content: "\28";
}
.icon-info:before {
	content: "\2b";
}

.notification {
	-webkit-box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px inset;
	box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px inset;

	border-radius: 5px;
	padding: 12px 40px 12px 60px;
	margin: 20px 0px 0px 10px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	position: relative;
	text-shadow: rgba(255, 255, 255, 0.298039) 0px 1px 0px;
	width: 300px;


	position:relative;
	animation:myfirst .5s;
	-webkit-animation:myfirst .5s; /* Safari and Chrome */
}

.notification:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;

	position: absolute;
	height: 100%;
	left: 20px;
	top: 0;
	line-height: 2.3;
	font-size: 130%;
	width: 50px;
}

.color-green {
	background-color: #C8E185;
	background-image: linear-gradient( #D0E98E, #C1DA7F);
	border: 1px solid #ACCC5D;
	color: #425218;
}

.color-green:before {
	content: "\28";
}

.color-yellow {
	background-color: #f3dc8f;
	background-image: linear-gradient( #FFEAA7, #F3D573);
	border: 1px solid #E9C95F;
	color: #7D6619;
}

.color-yellow:before {
	content: "\2b";
}

.color-red {
	background-color: #ec8282;
	background-image: linear-gradient( #f48888, #e17575);
	border: 1px solid #dc4e4d;
	color: #941B1B;
}

.color-red:before {
	content: "\27";
}

@keyframes myfirst {
	from	{opacity: 0;	left:-20px;		top:0px;}
	to		{opacity: 1; 	left:0px;		top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */ {
	from	{opacity: 0;	left:-20px;		top:0px;}
	to		{opacity: 1; 	left:0px;		top:0px;}
}

#accent-reminder {
	width: 280px;
}