<div id="home" class="row" data-ng-init="init()">
	<h2>Duolingo Vocabulary Manager</h2>

	<div id="rightInfo">
		<div id="line-separator"></div>
		<div id="study-language">{{ studyLanguage }}</div>
		<div id="numberOfWords">{{ numberOfWordsToStudy }}</div>
		<div id="numberText">
			<p>words to study</p>
		</div>
	</div>
	<button class="btn icon-pencil" ng-click="go('/practice')">Practice</button>
	<button class="btn icon-bookmark" ng-click="go('/vocab')">View Vocab</button>
	<button
		class="btn icon-box-add" 
		ng-click="update()" 
		data-ng-disabled="queryInProgress">Update Vocab
	</button>
	<button
		class="btn icon-warning" 
		ng-click="reset()" 
		data-ng-disabled="queryInProgress">Reset Vocab
	</button>
	<button class="btn icon-book" ng-click="go('/logs')">Logs</button>
	<!--
	<button
		ng-click="setToNotNew()" 
		data-ng-disabled="queryInProgress">Make Words not new
	</button>ng-show="queryInProgress"
-->

	<div id="loading" ng-show="queryInProgress">
		<div>Please wait at least 30 seconds...</div>
		<br>
		<img src="../../css/img/loading.gif">
	</div>

	<div class="alert-box" ng-class="notificationClass">{{ message }}</div>
</div>

