<div data-ng-init="init()" ng-enter>
	<h2>Practice</h2>
	<button class="btn icon-back" ng-click="go('/')">Back</button>
	<br>

	<div id="practiceWord">

		<div id="toggleBubble">
			<div id="toggleLeft">
				<button id="toggleHintLanguage" ng-click="changeGuessLanguage()">Change Guess Language</button>
			</div>
			<div id="toggleRight">
				<span ng-switch on="guessesInEnglish">
					<span ng-switch-when="true">English -> Spanish</span>
					<span ng-switch-when="false">Spanish -> English</span>
				</span>
			</div>
		</div>

		<div ng-show="practicingWord">
			<div id="word-type">{{ word.type }}</div>
			<div id="word">{{ word.show }}</div>

			<input type="text" class="duolingo-input"
				ng-disabled="showCorrectWord"
				ng-class="inputClass"
				ng-model="input"
				focus-me="focusInput"/>
			<button id="invisible" ng-click="submitGuess()"></button>
		</div>

		<div class="notification color-yellow" id="accent-reminder" ng-show="showAccentReminder">
			Create accented characters by pressing the tilde key after the letter you want accented
		</div>

		<div ng-show="isRightGuess">
			<div id="interval-left">
				<div id="interval-title">Next Study Time:</div>
				<span id="interval-current">{{ studyTime }}</span>
			</div>
			<div id="interval-right">
				<div id="interval-title">Change To:</div>
				<div class="interval">
					<div class="interval-checkbox">
						<span>1</span>
						<input type="checkbox" ng-model="interval[0]" id="interval1" ng-change="setInterval(0)">
					</div>
					1 day
				</div>
				<div class="interval">
					<div class="interval-checkbox">
						<span>2</span>
						<input type="checkbox" ng-model="interval[1]" id="interval2" ng-change="setInterval(1)">
					</div>
					5 days
				</div>
				<div class="interval">
					<div class="interval-checkbox">
						<span>3</span>
						<input type="checkbox" ng-model="interval[2]" id="interval3" ng-change="setInterval(2)">
					</div>
					25 days
				</div>
			</div>


		</div>
		<div ng-show="isWrongGuess">
			<p class="correction-text">CORRECT SOLUTION:</p>
			<div ng-show="showCorrectWord">
				<input class="duolingo-input correct" ng-model="word.correct" disabled></input>
			</div>
		</div>

	</div>
</div>