<div data-ng-init="init()" ng-enter>
	<p>Practicing</p>
	<a href="#">Back to Home</a>
	<br>
	<input type="checkbox"
		ng-model="guessesInEnglish"
		ng-change="changeGuessLanguage()">
		Change Guess Language
	</input>
	<div class="alert-box">{{ message }}</div>
	<div ng-show="showWord">
		<div>{{word.title}}: {{ word.show }}</div>
		<div>Type: {{ word.type }} </div>

		<form ng-app> 
			<input type="text" ng-model="input" ng-style="styles"/>
		</form>
	</div>
	<div ng-show="showCorrectWord">
		<div>Correct: {{ word.correct }}</div>
	</div>
</div>